@import "Partials/reset.scss";
@import "Partials/variables.scss";
@import "Partials/grid.scss";
@import "Partials/mixins.scss";

nav {
    margin:$margin;
    width: $page-width;
    .nav-list-1 {
        box-sizing: border-box;
        float: left;
        padding-top: 1%;
        [alt="Microsoft Icon"] {
            height: 1.8rem;
            width: 25%;
            @media only screen and (max-width: 840px) {
                left: 45%;
                position: absolute;
                width: 15%;
            }
        }
        li:nth-child(n+2) {
            font-size: 0.9rem;
            position: relative;
            top: -0.5rem;
            @media only screen and (max-width: 840px) {
                display: none;
            }
        }
    }
    .nav-list-2 {
        float: right;
        padding-top: 2%;
        width: 23%;
        @media only screen and (max-width: 840px) {
            width: 10%;
        }
        li:first-child {
            font-size: 0.9rem;
            position: relative;
            top: -0.85rem;
            @media only screen and (max-width: 840px) {
                display: none;
            }
        }
        li:nth-child(2) {
            @media only screen and (max-width: 840px) {
                left: 5%;
                position: absolute;
                top: 2%;
            }
        }
        li {
            font-size: 0.9rem;
            padding-right: 2%;
            position: relative;
            top: -0.5rem;
        }
    }
    li {
        display: inline;
        margin-right: 2%;
    }
}
.picture-section{
    background-image: url("../img/lady.webp");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
    @include marginwidth;
    .office {
        left: 5%;
        position: absolute;
        top: 8%;
        width: 30%;
        @media only screen and (max-width: 768px) {
            background-color: #E0E0E0;
            height: 15rem;
            left: 0;
            top: 100%;
            width: 99.7%;
        }
        h2 {
            @media only screen and (max-width: 768px) {
                padding-top: 5%;
                text-align: $img_align;
            }
        }
        p {
            @media only screen and (max-width: 768px) {
                text-align: $img_align;  
            }
        }
        button {
            @media only screen and (max-width: 768px) {
                margin-left: 45%;  
            }
        }
    }
    button {
        color: $button_text;
        background-color: $button_background;
        padding: $button_padding;
    } 
}


.panel-container{
    height: 20rem;
    margin-top: $panel_margin_top;
    a {
        color: $link-color;
        font-weight: bold;
        text-decoration: none;
    }
    @media only screen and (max-width: 768px) {
        margin-top: 34%;
    }
}

.panel-img{
    text-align: $img_align;
    width: $img_size;
}