$grid-columns: 12;
$grid-max-width: 1200px;
$breakpoint-sm: "only screen and (min-width: 0px)";
$breakpoint-md: "only screen and (min-width: 540px)";
$breakpoint-lg: "only screen and (min-width: 768px)";
$breakpoint-xl: "only screen and (min-width: 1084px)";

$margin: 0 auto;
$page-width: 90%;
$section-width:100%;

$button_background:black;
$button_padding:1%;
$button_text: white;
$button_text2:black;
$link-color: #0067b8;

$panel_margin_top:3%;
$img_size:100%;
$img_align:center;

$spacer: 0.2rem;
$margins: 5;
$paddings: 5;

$spaceamounts: (0, 1, 2, 3, 4, 5);
$sides: (top, bottom, left, right);

$sm: "sm";
$md: "md";
$lg: "lg";
$xl: "xl";

/*display variable*/
$dn:none;

/*flex variables*/
$v-a-center:center;
$v-a-bottom:bottom;
$v-a-top:top;

$j-c-center:center;
$j-c-left:left;
$j-c-right:right;